body {
    color: black;
    background-color: crimson;
}

.hola {
    text-align: center;
    font-family: sans-serif;
}

.lolito {
	text-align: center;
	font-family: sans-serif;
}

.pepe {
    text-align: center;
    font-family: sans-serif;
}